/* As hex codes */
/*
.color-primary-0 { color: #AA3939 }
.color-primary-1 { color: #FFAAAA }
.color-primary-2 { color: #D46A6A }
.color-primary-3 { color: #801515 }
.color-primary-4 { color: #550000 }
*/

html{
	font-family: sans-serif;
	font-size: 16px;
}

.MathJax {
	/*font-size: 21.3rem;*/
}

.preformatted{
    font-family: monospace;
    white-space: pre;
}

body {
	background-color: white;
}

ul{
	padding-bottom: 2em;
}

li {
	list-style-type: disc;
	list-style-position: inside;
}

aside{
	width: 25%;
	overflow-y: auto;
	position: fixed;
	padding: 1rem 2rem 1rem 1rem;
	color: #aaaaaa;
	font-size: 0.9rem;
	display: none;
}

aside .logo{

	display: block;
    margin-left: auto;
    margin-right: auto;

	padding-bottom: 2rem;
	width: 95%;

}

aside section{
	margin-bottom: 2em;
}

strong {
	color: #AA3939;
}

aside section li{
	list-style-type: none;
}

main{
	padding: 1rem 1rem 1rem 2rem;
	font-size: 1rem;
}

article{
	padding-bottom: 2em;
}

header {
	padding-bottom: 1rem;
}

header h1 {
	font-size: 2rem;
	color: #AA3939;
}

header h1 a{
	color: inherit;
	text-decoration: none;
}

header time {
	font-size: 0.8rem;
	color: #777777;
}


@media only screen and (min-width: 801px) {
	html{
		font-size: 22px;
	}

	aside{
		display: block;
	}

	main{
		margin-left: 25%;
	}
}
