/* As hex codes */
/*
.color-primary-0 { color: #AA3939 }
.color-primary-1 { color: #FFAAAA }
.color-primary-2 { color: #D46A6A }
.color-primary-3 { color: #801515 }
.color-primary-4 { color: #550000 }
*/

html{
	font-family: sans-serif;
	font-size: 16px;
}

.MathJax {
	/*font-size: 21.3rem;*/
}

.preformatted{
    font-family: monospace;
    white-space: pre;
}

body {
	background-color: white;
}

ul{
	padding-bottom: 2em;
}

li {
	list-style-type: disc;
	list-style-position: inside;
}

aside{
	width: 100%;
	overflow-y: auto;
	position: fixed;
	padding: 0.5rem 2rem 0.5rem 1rem;
	color: #aaaaaa;
	font-size: 0.9rem;
	background-color: white;
}

aside #logoTop{
	display: block;
	float: left;
	width:85%;
}

aside #nav-toggle{
	font-size: 2rem;
}

aside a#nav-toggle{
	color: #006affff;
	text-decoration: none;
	float: right;
	margin: -0.5rem -0.5rem 0 0;
}

aside section#sobreMi{
	margin-bottom: 2rem;
	display: none;
}

strong {
	color: #006affff;
}

aside section li{
	list-style-type: none;
}

main{
	padding: 5rem 0.5rem 1rem 0.5rem;
	font-size: 1rem;
}

article{
	padding-bottom: 2em;
}

header {
	padding-bottom: 1rem;
}

header h1 {
	font-size: 1.6rem;
	color: #006affff;
}

header h1 a{
	color: inherit;
	text-decoration: none;
}

header time {
	font-size: 0.8rem;
	color: #777777;

}

.cuerpo{
	font-size: 1.2rem;
}


@media only screen and (min-width: 800px) {
	html{
		font-size: 22px;
	}

	aside{
		display: block;
		width: 25%;
		overflow-y: auto;
		position: fixed;
		padding: 1rem 1rem 1rem 1rem;
		color: #aaaaaa;
		font-size: 0.9rem;
	}

	aside #logoTop{
		display: block;
		float: left;
		padding-bottom: 2rem;
		width:100%;
	}

	aside a#nav-toggle{
		display: none;
	}

	aside section#sobreMi{
		display: block;
		float: left;
	}

	main{
		margin-left: 25%;
		padding: 1rem 1rem 1rem 2rem;
		font-size: 1rem;
	}

}
