/* As hex codes */
/*.color-primary-0 { color: #006aff }	Color principal */
/*.color-primary-0b{ color: #003B8C }	Color azul oscuro */
/*.color-primary-1 { color: #FF9200 }	    Color Opuesto */
@charset "utf-8";

html{
	font-family: sans-serif;
	font-size: 1rem;
	scroll-behavior: smooth;
}

.preformatted{
    font-family: monospace;
    white-space: pre;
}

body {
	background-color: white;
}

p {				/* Modo móvil */
	display: block;
	margin: 0 0 1.5rem 0;
	line-height: 1.5;
}

p > strong{
	padding-right: 0.5rem;
}


pre.sourceCode{
		background-color: #ddddff;
		padding: 1rem;
		font-size: 0.8rem;
}

code {
	background-color: #dddddd;
}

code a{
		color: black;
		margin: 1rem 0;
}

a {	
	/*text-decoration: none; */
	color: #006aff;
}
a:visited{color: #006aff;}
a:hover{color: #FF9200;}

.leerMas{
	text-align: right;
}

strong {
	/*color: #006aff;*/
	font-weight: bold;
}

body header{
	width: 100%;
	overflow-y: auto;
	position: fixed;
	padding: 0.5rem 2rem 0.5rem 1rem;
	color: #aaaaaa;
	font-size: 0.9rem;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
	z-index: 1;
	max-height: 200px;
}

body header #logoTop{
	display: block;
	float: left;
	width:85%;
	max-width: 200px;
}

body header #nav-toggle{
	font-size: 2rem;
}

body header a#nav-toggle{
	color: #006aff;
	text-decoration: none;
	float: right;
	margin: -0.5rem -0.5rem 0 0;
}

/*
.katex{
	font-size: 1rem !important;
}*/

/********************************************* Cabeceras *********************************/
h1, h2, h3, h4{
	/*font-family: SourceSansPro-Semibold;*/
	clear: both;
	font-weight: bolder;
}

h1 {
	border-bottom: 1px solid #FF9200;
	font-size: 1.6rem;
	margin: 0 0 1rem 0;
	color: #006aff;
}


h1 a{
	color: inherit;
	text-decoration: none;
	color: #006aff;
}

h1:first-child{
		margin: 1rem 0;
}

h2 {
	font-weight: bolder;
	padding: 1rem 0 2rem 0;
}

h3 {
	font-weight: bold;
}
/***************************************** FIN de /cabeceras **********************************/

:target {
  display: block;
  position: relative;
  top: -120px;
  visibility: hidden;
}

main{		/* M */
	padding: 4rem 1rem 0 1rem;
}

article{
	/*margin-top: 1rem;*/
	padding-bottom: 1em;
	counter-reset: apartado;
}

table{
	margin: 1.5rem auto 1.5rem auto;
	border-top: 1px solid #003B8C;
	border-bottom: 1px solid #003B8C;
}

th {
	padding: 0 1.5rem 0 1.5rem;
	border-bottom: 1px solid #003B8C;
	color: black;
}

td{
	padding: 0 1.5rem 0 1.5rem;
}

time {
	display: block;
	font-size: 0.8rem;
	color: #777777;
}

img{	/* Móvil	*/
  display: block;
  margin-left: auto;
  margin-right: auto;
}

figcaption{
	font-size: 0.7rem;
}

.rightImg{
	float: right;
	margin-left: 1rem;
}

.leftImg{
	float: left;
	margin-right: 1rem;
}

.wideImg{
	width: 100%;
}

/* Item in index.html */
.liIndex{
		padding-bottom: 3rem;
		min-height: 20rem;
}

.liIndex time{
}

img.miniIndex{	/* Móvil */
	max-width: 50%;
	max-height: 16rem;
	padding: 0 1rem 0 0;
	text-align: center;
	float: left;
}

figcaption{
	text-align: right;
	font-size: 0.5rem;
	margin-bottom: 1rem;
}

.katex-html{	/* Modo móvil */
	margin: 1rem 0 1rem 0;
	font-size: 1rem !important;
}

ul{
	margin: 0.5rem 0;
}

li{
	list-style-position: inside;
	padding: 0.5rem 0 0 0;
	list-style-type: disc;
}

/* Etiquetas al final del artÃ­culo*/
article > p:last-of-type{
	color: #777777;
	text-transform: capitalize;
	word-spacing: 0.1rem;
}

/* Añade la palabra etiqueta delante de las etiquetas */
article > p:last-of-type::before{
	content: "Tags";
	/*font-family: SourceSansPro-Semibold;*/
	color: #006aff;
	margin-right: 0.4rem;
}

/*	Pie de página */
footer{	/* M */
	border-top: 1px dashed #777777;
	color: #777777;
	padding: 1rem;
}


/********************************************************************************/
/* Pantalla PC */
@media only screen and (min-width: 800px) {
	html{			
		font-size: 1.1rem;
		background-color: #eaeaea;
	}

	body{
		max-width: 1000px;
		width: 1000px;
		margin: auto;
		box-shadow: 0px 6px 12px 3px #aaaaaa;
	}

	main{	/* D */
		padding: 5rem 2rem 1rem 2rem;
		font-size: 1rem;
	}


	body header{
		width: 1000px;
		max-width: 1000px;
		z-index: 1;
		max-height: 4rem;
	}


	body header #logoTop{
		width:40%;
		max-width: 400px;
		margin-left: 1rem;
	}

	#menu{
		font-size: 1.5rem;
	}

	article{
		margin-bottom: 2rem;
	}

	img.miniIndex{	/* Móvil */
		max-width: 50%;
	}

	p {		/* Modo escritorio */
		line-height: 1.5rem;
	}

	.katex-html{	/* Modo escritorio */
			font-size: 1.1rem !important;
	}

	footer{
		margin: 0 1rem 2rem 1rem;
		padding: 1rem 0 1rem 0;
	}
}

/********************************************************************************/
@media print {
	@page {
		margin: 10cm;
	}

	body {
		box-shadow: unset;
		height: auto;
	}

	article{
		padding: 2rem;
	}
}
