/* As hex codes */
/*
.color-primary-0 { color: #006aff }
.color-primary-1 { color: #3C8DFC }
*/

html{
	font-family: sans-serif;
	font-size: 16px;
}

.preformatted{
    font-family: monospace;
    white-space: pre;
}

body {
	background-color: white;
}

p {
	display: block;
	margin: 0 0 1rem 0;
}

ul{
	padding-bottom: 1em;
}

li {
	list-style-type: disc;
	list-style-position: inside;
}

a{	text-decoration: none; color: #006aff;}
a:visited{color: #006aff;}
a:hover{text-decoration: underline;}

strong {
	color: #006aff;
}

body header{
	width: 100%;
	overflow-y: auto;
	position: fixed;
	padding: 0.5rem 2rem 0.5rem 1rem;
	color: #aaaaaa;
	font-size: 0.9rem;
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
	z-index: 1;
	max-height: 200px;
}

body header #logoTop{
	display: block;
	float: left;
	width:85%;
	/*max-height: 50px;*/
	max-width: 200px;
}

body header #nav-toggle{
	font-size: 2rem;
}

body header a#nav-toggle{
	color: #006aff;
	text-decoration: none;
	float: right;
	margin: -0.5rem -0.5rem 0 0;
}

#info{
	margin: 0 0 1rem 0;
	/*display: none;*/
	clear: both;
	font-size: 0.8rem;
	color: #777777;
}

#menu{
	margin-top: 3rem;
	font-size: 2rem;
	display: none;
	clear: both;
	text-align: left;
	padding: 1rem;
	border-radius: 25px;
	/*border: 2px solid #D76900;*/
	border: 2px solid #000000;
}

#menu li{
	list-style-type: none;
	color: #D76900;
}

#menu li.segundoNivel{
	font-size: 80%;
	margin-left: 1rem;
	list-style-type: square;
}

#menu li a{
	color: #006aff;
	text-decoration: none;
}

main{
	padding: 2.5rem 0.5rem 1rem 0.5rem;
	font-size: 1rem;
}

article{
	margin-top: 1rem;
	padding-bottom: 1em;
}

/* Página de contacto *****************************/
article #contacto textarea{
	margin: 1rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 4rem;
}

article #contacto input{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1rem;
}

article #contacto #emailremitente{
	font-size: 0.8rem;
	width: 80%;
}
/* FIN Página contacto *******************************/

h1 {
	font-size: 1.6rem;
	color: #006affff;
}

h1 time {
	font-size: 0.8rem;
	color: #777777;
}

h1 a{
	color: inherit;
	text-decoration: none;
	font-size: 1.6rem;
	color: #006aff;
}

h2 {
	font-weight: bold;
	color: #006aff;
	margin: 1rem 0 1rem 0;
}

h3 {
	/*font-weight: bold;*/
	color: #006aff;
	margin: 1rem 0 1rem 0;
}

math{
	margin: 1rem 0 1rem 0;
	color: #0000ff;
}

main footer{
	border-top: 1px solid #777777;
	color: #777777;
	margin-bottom: 2rem;
}

/********************************************************************************/
/* Pantalla PC */
@media only screen and (min-width: 800px) {
	html{
		font-size: 22px;
		background-color: #fafafa;
	}

	body{
		max-width: 1000px;
		width: 1000px;
		margin: auto;
		box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
	}

	main{
		padding: 1rem 1rem 1rem 2rem;
		font-size: 1rem;
	}


	body header{
		width: 1000px;
		max-width: 1000px;
		z-index: 1;
	}


	body header #logoTop{
		width:40%;
		max-width: 400px;
	}

	#menu{
		font-size: 1.5rem;
	}

	article{
		margin-top: 4rem;
	}

}

/********************************************************************************/
@media print {
	@page {
		margin: 10cm;
	}

	body {
		box-shadow: unset;
		height: auto;
	}

/*	#sidebar{
		max-width: 90%;
		box-shadow: unset;
	}*/

	article{
		padding: 2rem;
	}
}
