#info{
	margin: 4rem 0 0rem 0;
	/*display: none;*/
	clear: both;
	font-size: 0.8rem;
	color: #777777;
}

nav{
	margin: 1rem 0 0 0;
}

nav li{
	list-style-type: square;
	list-style-position: inside;
	color: #006aff;
}
