#info{
	margin: 4rem 0 0rem 0;
	/*display: none;*/
	clear: both;
	font-size: 0.8rem;
	color: #777777;
}

nav{
	margin: 1rem 0 0 0;
}


nav ul{
	list-style-type: square;
	list-style-position: inside;
}

nav ol{
	counter-reset: section;
	list-style-type: none;
}

nav li{
	list-style-position: inside;
	color: black;
	font-size: 1.5rem;
	text-align: left;
}

nav ol li::before{
	counter-increment: section;
	content: counters(section, ".") ".";
	margin-right: 1rem;
}

nav li a{
	color: #006aff;
}
